<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/dashboard}">
<head>
    <title>Category Page</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-3">
        <a th:href="@{/admin/category/addCategory}" class="btn btn-primary btn-sm mb-3">Add Category</a>
        <table class="table table-striped">
            <thead class="table-light">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tempCategory :${categories}">
             <td th:text="${tempCategory.name}"></td>
                <td th:text="${tempCategory.description}"></td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
</body>
</html>
