<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/dashboard}">
<head>
    <title>Category Page</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-3">
        <a th:href="@{/admin/category/addCategory}" class="btn btn-primary btn-sm mb-3">Add Category</a>
        <table class="table table-striped table-hover align-middle">
            <thead class="table-secondary">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tempCategory :${categories}">
             <td th:text="${tempCategory.name}"></td>
                <td th:text="${tempCategory.description}"></td>
                <td><a th:href="@{/admin/category/edit(categoryId=${tempCategory.id})}" class="btn btn-info btn-sm mb-3" >
                Edit</a>
                <a th:href="@{/admin/category/delete(categoryId=${tempCategory.id})}"
                   onclick="if(!(confirm('Are you sure you want to delete this category ?'))) return false"
                   class="btn btn-danger btn-sm mb-3">
                    Delete</a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
</body>
</html>
