 body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
           background: linear-gradient(135deg, #667eea, #764ba2);

            font-family: 'Poppins', sans-serif;
        }

        .login-container {
            background: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(15px);
            border-radius: 16px;
            box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
            padding: 40px 50px;
            text-align: center;
            width: 350px;
            animation: fadeIn 1s ease-in;
        }

        @keyframes fadeIn {
            from { opacity: 0; transform: translateY(20px); }
            to { opacity: 1; transform: translateY(0); }
        }

        h2 {
            margin-bottom: 20px;
            font-weight: 600;
        }

        input[type="text"], input[type="password"] {
            width: 100%;
            padding: 12px 15px;
            margin: 8px 0 20px;
            border: none;
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.2);
            font-size: 14px;
            outline: none;
            transition: 0.3s;
        }

        input:focus {
            background: rgba(255, 255, 255, 0.35);
        }

        .login-btn {
            width: 100%;
            padding: 12px;
            background: #00c6ff;
            background: linear-gradient(90deg, #00c6ff 0%, #0072ff 100%);
            border: none;
            border-radius: 8px;
            font-weight: bold;
            cursor: pointer;
            transition: 0.3s;
        }

        .login-btn:hover {
            background: linear-gradient(90deg, #0072ff 0%, #00c6ff 100%);
            transform: translateY(-2px);
        }

        .error {
            color: white;
            font-size: 14px;
            margin-bottom: 15px;
            font-weight:bold;
        }

        .login-footer {
            margin-top: 20px;
            font-size: 13px;
        }

        .login-footer a {
            color: #fff;
            text-decoration: underline;
        }